* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4366ab8c;
}

.layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.svg {
  width: 200px;
}

.card {
  background: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

input, select {
  padding: 0.4rem;
}

.check {
  flex-direction: row;
  gap: 0.5rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.error {
  color: #dc2626;
  font-size: 0.9rem;
}

.barra {
  margin-top: 1rem;
  height: 18px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.barra-progreso {
  height: 100%;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  transition: width 0.3s ease;
}

.rojo { background: #ef4444; }
.amarillo { background: #facc15; color: black; }
.verde { background: #22c55e; }

.danger {
  background: #dc2626;
  color: white;
}
