services:
  database:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: express_backend
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - database
    environment:
      - MONGODB_URI=mongodb://database:27017/musicaDB
      - JWT_SECRET=tu_clave_secreta_super_segura
      - PORT=4000

  frontend:
    build: ./frontend/frontend
    container_name: react_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    stdin_open: true

volumes:
  mongo_data: